/* div h1
{
      text-align: center;
      background-color: pink;
      font-family: Arial, Helvetica, sans-serif;
      width: fit-content;
}
div+h1
{
      text-align: center;
      background-color: pink;
      font-family: Arial, Helvetica, sans-serif;
      width: fit-content;
} */

/* .img33
{
      padding-left: 40px;
} */
/* p
{
      background-color: grey;
}  */
/* body
{
      border: 3px solid black;
} */
hr
{
      color: red;
      background-color: green;
      height: 2px;
}
/* h1
{
background-color: #61b0ca;
outline: 2px solid black; 
font-style: oblique;
} */